.allproduct{
display: flex;
width: 70%;
flex-direction: column;
}

.allproduct h1{
  font-size: 30px;
  text-align: center;
} 

.allproduct .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}